*{
    padding:0%;
    margin: 0%;
    overflow: hidden;
}

.background{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(0, 0, 50), rgb(0, 0, 80));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;
    position: relative;
}

.content{
    background: none;
    display: flex;
    justify-content: center;
    z-index: 2;
    font-weight: 500;
    font-size: 44px;
    color: rgb(200, 200, 200);
    font-family: 'McLaren';
}

.circle{
    animation-name: move;
    animation-iteration-count: infinite;
    position: absolute;
    top: 100%;
    overflow: hidden;
    z-index: 1;
}

.c1{
    width: 100px;
    height: 100px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation-duration: 18s;
    animation-delay: 0s;
    left: 2%
}

.c2{
    width: 130px;
    height: 130px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation-duration: 10s;
    animation-delay: 3s;
    left: 9%;

}

.c3{
    width: 50px;
    height: 50px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation-duration: 18s;
    animation-delay: 2s;
    left: 18%;

}

.c4{
    width: 200px;
    height: 200px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation-duration: 15s;
    animation-delay: 2s;
    left: 25%;
}

.c5{
    width: 80px;
    height: 80px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation-duration: 19s;
    animation-delay: 5s;
    left: 38%;

}

.c6{
    width: 150px;
    height: 150px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation-duration: 13s;
    animation-delay: 0s;
    left: 48%;

}

.c7{
    width: 100px;
    height: 100px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation-duration: 17s;
    animation-delay: 0s;
    left: 58%;

}

.c8{
    width: 30px;
    height: 30px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation-duration: 13s;
    animation-delay: 0s;
    left: 65%;

}

.c9{
    width: 50px;
    height: 50px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation-duration: 16s;
    animation-delay: 5s;
    left: 75%;

}

.c10{
    width: 100px;
    height: 100px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation-duration: 18s;
    animation-delay: 1s;
    left: 80%;

}

.c11{
    width: 170px;
    height: 170px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation-duration: 11s;
    animation-delay: 0s;
    left: 88%;
}

.c12{
    width: 90px;
    height: 90px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation-duration: 10s;
    animation-delay: 1s;
    left: 90%;
}

.c13{
    width: 500px;
    height: 500px;
    background-color: rgba(225, 225, 225, 0.1);
    border-radius: 50%;
    animation-duration: 28s;
    animation-delay: 10s;
    left: 10%;
    z-index: 0;
}

.c14{
    width: 400px;
    height: 400px;
    background-color: rgba(225, 225, 225, 0.1);
    border-radius: 50%;
    animation-duration:30s;
    animation-delay: 5s;
    left: 60%;
    z-index: 0;
}


@keyframes move{
    0%{

    }

    100%{
        transform: translateY(-500%);
        background-color: transparent;
    }
}

@media (max-width:1440px){
    *{
        overflow: hidden;
    }

    .background{
        overflow: hidden;
        height: 100vh;
    }

    .content{
        font-size: 30px;
    }
}

@media (max-width:1024px){
    *{
        overflow: hidden;
    }

    .background{
        overflow: hidden;
        height: 100vh;
    }

    .content{
        font-size: 30px;
    }
}

@media (max-width:768px){
    *{
        overflow: hidden;
    }

    .background{
        overflow: hidden;
        height: 100vh;
    }

    .content{
        font-size: 30px;
    }

    .c1{
        left: -1%
    }
    
}

@media (max-width:425px){
    *{
        overflow: hidden;
    }

    .background{
        overflow: hidden;
        height: 100vh;
    }

    .content{
        font-size: 15px;
    }

    .c11{
        display: none;
    }
    
    .c12{
        display: none;
    }
    
}

@media (max-width:375px){
    *{
        overflow: hidden;
    }

    .background{
        overflow: hidden;
        height: 100vh;
    }

    .content{
        font-size: 15px;
    }

    .c11{
        display: none;
    }
    
    .c12{
        display: none;
    }
    
}

@media (max-width:320px){
    *{
        overflow: hidden;
    }

    .background{
        overflow: hidden;
        height: 100vh;
    }

    .content{
        font-size: 10px;
    }

    .c11{
        display: none;
    }
    
    .c12{
        display: none;
    }
    
}

